<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- 讓ICON正確顯示 -->

<div class="wrapper">
  <!-- 管理者登入按鈕 -->
  <button class="button2" (click)="adminSignOut()"> 管理者登出 </button>
  <!-- 搜尋區 -->
  <div class="searchWrapper">
    <!-- 搜尋區塊 -->
    <div class="inputWrapper">
      <label>問券名稱:</label><input class="searchInput" (keyup)="filteredByName($event)">
    </div>
    <br>
    <br>
    <div class="dateWrapper">
      <label>統計時間:</label>
      <input class="dateInput" type="date" [min]="minDate" [(ngModel)]="chooseSDate">
      <label> 到 </label>
      <input class="dateInput" type="date" [disabled]="!chooseSDate" [min]="chooseSDate" [(ngModel)]="chooseEDate">
      <button class="searchButton" (click)="filteredByDate()">搜尋</button>
    </div>
  </div>
  <!-- 增加和刪除的ICON -->
  <div class="iconDiv">
    <mat-icon aria-hidden="false" fontIcon="add" (click)="addQuestionnaire()">add</mat-icon>
    <mat-icon aria-hidden="false" fontIcon="delete" (click)="deleteQuestionnaire()">delete</mat-icon>
  </div>

  <!-- ======================================================================================================================= -->
  <!-- 表單TABLE -->

  <!-- 表單HTML -->
  <div class="mat-elevation-z8 tableDiv">
    <table mat-table [dataSource]="dataSource">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="tableHeader">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!--  編號 -->
      <ng-container matColumnDef="number">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef> 編號 </th>
        <td mat-cell *matCellDef="let element"> #{{element.number}} </td>
      </ng-container>

      <!-- 名稱 -->
      <ng-container matColumnDef="name">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef> 名稱 </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/respond"
            (click)="storeData(element.name,element.startTime,element.endTime,element.dcp)">{{element.name}}</a>
        </td>
      </ng-container>

      <!-- 狀態 -->
      <ng-container matColumnDef="status">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef> 狀態 </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- 開始時間 -->
      <ng-container matColumnDef="startTime">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef> 開始時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
      </ng-container>

      <!-- 結束時間 -->
      <ng-container matColumnDef="endTime">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef> 結束時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
      </ng-container>

      <!-- 結果 -->
      <ng-container matColumnDef="result">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef> 結果 </th>
        <td mat-cell *matCellDef="let element"><a routerLink="/statistics">{{element.result}}</a> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>


</div>
