<div class="wrapper">

  <!-- 右上問卷時間、問券題目、問券敘述 -->
  <div class="timeDiv">
    <div>
      <h4>{{questionStartTime}}-</h4>
    </div>
    <div>
      <h4>{{questionEndTime}}</h4>
    </div>
  </div>

  <div class="title">
    <h1>{{questionName}}</h1>
  </div>

  <div class="description">
    <h4>{{questionDcp}}</h4>
  </div>

  <!-- 填寫基本資料欄位的DIV和FORM表單 -->
  <div class="basicInfoDiv">
    <!-- (ngSubmit)="saveUserData()"，若這段要加在form標籤裡則button也要在form表單的範圍內，且要button內要有type="submit" -->
    <div class="inputDiv">
      <div class="labelDiv">
        <h4> <span style="color: red;">*</span> 姓名: </h4>
      </div>
      <input class="input" type="text" [(ngModel)]=" rUserName">
    </div>

    <div class="inputDiv">
      <div class="labelDiv">
        <h4> <span style="color: red;">*</span> 電話: </h4>
      </div>
      <input class="input" type="string" [(ngModel)]=" rUserPhone">
    </div>

    <div class="inputDiv">
      <div class="labelDiv">
        <h4> E-mail: </h4>
      </div>
      <input class="input" type="text" [(ngModel)]=" rUserEmail">
    </div>

    <div class="inputDiv">
      <div class="labelDiv">
        <h4> 年齡: </h4>
      </div>
      <input class="input" type="number" [(ngModel)]=" rUserAge">
    </div>
  </div>

  <!-- 先做固定的假問題，並無隨著問卷名稱改變，==為類型不一樣但值一樣就會判定為TRUE，===為類型與值都要一樣才會判定TRUE，推薦用=== -->
  <div class="questionDiv">
    <ol class="qustionList">
      <!-- 使用@for遍歷問題陣列，用@if檢查如果問題的need為true則加上紅色*表示必填 -->
      @for(quest of userSelectedAnswers; let i=$index;track $index){
      <div class="questions">
        <h4>
          @if(quest.need){
          <span style="color: red;">*</span>
          }
          {{quest.questName}}:
        </h4>

        <!-- 多選題，因為是多選所以每一個選項都會有一個相同名稱來綁定是否選取，這邊取名checkboxBoolean -->
        <!-- 當選取時就會改變這個布林值為true -->
        @if(quest.type === 'M'){
        @for(option of quest.options; let j=$index;track $index){
        <input type="checkbox" [(ngModel)]="option.checkboxBoolean">{{option.optionName}}
        <br>
        }
        }

        <!-- 單選題，要加上name標籤才能判斷這幾個單選選項為一組並只能選一個，code在所有的選項間只會共享一個，所以是單選 -->
        @if(quest.type === 'Q'){
        @for(option of quest.options; let j=$index;track $index){
        <input type="radio" name="{{quest.questId}}" value="{{option.code}}"
          [(ngModel)]="quest.radioAnswer">{{option.optionName}}
        <br>
        }
        }

        <!-- 敘述題 -->
        @if(quest.type === 'T'){
        <textarea [(ngModel)]="quest.textAnswer"></textarea>
        <br>
        }

      </div>
      }
    </ol>
  </div>

  <!-- 右下角取消與確認的按鈕的DIV -->
  <div class="buttonDiv">
    <button class="button1" routerLink="/list" (click)="clearUserData()"> 取消 </button>
    <button class="button2" (click)="saveUserData()"> 確認 </button>
  </div>

</div>
